

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de imagenes</title>
    <link rel="stylesheet" href="css/imagenes.css">
</head>
<body>
    <style>
        h1{
    color: white;
    text-shadow: 1px 2px 2px black,0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.galeria{
    margin: 10px 10px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 100px;
}

div.galeria img{
    width: 100%;
    height: auto;
}

div.galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}

    </style>
    <h1>Galeria de fotos</h1>
    <h1>Cambio Climatico</h1>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img1.jpg" alt="">
        </div>
        <div class="pie">
            <p>imagen #1</p>
        </div>
    </div>  
    <div class="galeria">
        <div class="foto">
            <img src="../static/img2.jpg" alt="">
        </div>
        <div class="pie">
            <p>imagen #2</p>
        </div>
    </div> 
    <div class="galeria">
        <div class="foto">
            <img src="../static/img3.jpg" alt="">
        </div>
        <div class="pie">
            <p>imagen #3</p>
        </div>
    </div>  
    <div class="galeria">
        <div class="foto">
            <img src="../static/img4.jpg" alt="">
        </div>
        <div class="pie">
            <p>Imagen #4</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img5.jpg" alt="">
        </div>
        <div class="pie">
            <p>Imagen #5</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img6.jpg" alt="">
        </div>
        <div class="pie">
            <p>Imagen #6</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img7.jpeg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #7</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img8.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #8</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img9.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #9</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img10.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #10</p>
        </div>
    </div><div class="galeria">
        <div class="foto">
            <img src="../static/img11.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #11</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img12.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #12</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img13.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #13</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img14.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #14</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img15.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #15</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img16.jpg" alt="">
        </div>
        <div class="pie">
            <p>Imagen #16</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img17.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #17</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img18.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #18</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img19.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #19</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img20.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #20</p>
        </div>
    </div>
    <div class="galeria">
        <div class="foto">
            <img src="../static/img21.jpg " alt="">
        </div>
        <div class="pie">
            <p>Imagen #21</p>
        </div>
    </div>
    
</body>
</html>